@model IEnumerable<LibrarySystem.Models.UserBooks>

@{
    ViewData["Title"] = "User Book Page";
    var currentDay = DateOnly.FromDateTime(DateTime.Now);
}

<table class="table">
    <tr>
        <th> Book Title </th>
        <th> Genre </th>
        <th> Author </th>
        <th> Borrowed Date </th>
        <th> Due Date</th>
        <th> Returned Date </th>
    </tr>
    
       @foreach (UserBooks borrowed in Model)
        {
            <tr>
                <td>@borrowed.BookTitle</td>
                <td>@borrowed.Genre</td>
                <td>@borrowed.Author</td>
                <td>@borrowed.BorrowedDate</td>
                <td>@borrowed.DueDate</td>
                <td>@borrowed.ReturnedDate</td>
                @if (borrowed.DueDate < borrowed.ReturnedDate)
                {
                    <td> Overdue Book </td>
                } else if (borrowed.DueDate < currentDay && borrowed.ReturnedDate == null){
                    <td> Book is Overdue</td>
                }
            </tr>
        } 
</table>