@model LibrarySystem.Models.BookGenreViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Book Page";
}
<form asp-controller="Book" asp-action="ViewBooks" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Find by Title: @Html.TextBox("SearchResult", ViewBag.CurrentFilter as string)
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th> 
            @Html.ActionLink(Html.DisplayNameFor(model => model.Books![0].BookTitle), "ViewBooks", new {sortOrder = ViewBag.TitleSort, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th> 
            @Html.ActionLink(Html.DisplayNameFor(model => model.Books![0].Genre), "ViewBooks", new {sortOrder = ViewBag.GenreSort, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th> 
            @Html.ActionLink(Html.DisplayNameFor(model => model.Books![0].Author), "ViewBooks", new {sortOrder = ViewBag.AuthorSort, currentFilter = ViewBag.CurrentFilter})
        </th>
    </tr>
    
       @foreach (var book in Model.Books!)
        {
            <tr>
                <td>@book.BookTitle</td>
                <td>@book.Genre</td>
                <td>@book.Author</td>
                <td>
                    <a asp-action="EditBook" asp-route-id="@book.BookID"> Edit Book</a>
                </td>
                <td>
                    @if (book.StockAmount == 0)
                    {
                        <p> Out of Stock </p>
                    } else {
                        if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="BorrowBook" asp-route-id="@book.BookID"> Borrow Book </a>
                        } else {
                            <p> Not Logged In </p>
                        }
                        
                    }
                    
                </td>
                
            </tr>
        } 
</table>
<br />
@Html.PagedListPager(@Model.Books, page => Url.Action("ViewBooks", new { page }))
<a asp-area="" asp-controller="Book" asp-action="AddBook">Add New Book</a>

