@model LibrarySystem.Models.BookGenreViewModel

@{
    ViewData["Title"] = "Book Page";
}
<form asp-controller="Book" asp-action="ViewBooks" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchResult" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Books![0].BookID) </th>
        <th> @Html.DisplayNameFor(model => model.Books![0].BookTitle) </th>
        <th> @Html.DisplayNameFor(model => model.Books![0].Genre)</th>
        <th> @Html.DisplayNameFor(model => model.Books![0].Author) </th>
    </tr>
    
       @foreach (var book in Model.Books!)
        {
            <tr>
                <td>@book.BookID</td>
                <td>@book.BookTitle</td>
                <td>@book.Genre</td>
                <td>@book.Author</td>
                <td>
                    <a asp-action="DeleteBook" asp-route-id="@book.BookID"> Delete </a>
                </td>
            </tr>
        } 
</table>
<a asp-area="" asp-controller="Book" asp-action="AddBook">Add New Book</a>