@model LibrarySystem.Models.UserBooks

@{
    ViewData["Title"] = "Return Book";
}

<h1> Return Book </h1>

<div>
    <p> @Html.DisplayNameFor(Model => Model.BookTitle)</p>
    <p> @Html.DisplayFor(Model => Model.BookTitle)</p>
</div>
<div>
    <p> @Html.DisplayNameFor(Model => Model.Genre)</p>
    <p> @Html.DisplayFor(Model => Model.Genre)</p>
</div>
<div>
    <p> @Html.DisplayNameFor(Model => Model.Author)</p>
    <p> @Html.DisplayFor(Model => Model.Author)</p>
</div>
<div>
    <p> @Html.DisplayNameFor(Model => Model.BorrowedDate)</p>
    <p> @Html.DisplayFor(Model => Model.BorrowedDate)</p>
</div>
<div>
    <p> @Html.DisplayNameFor(Model => Model.DueDate)</p>
    <p> @Html.DisplayFor(Model => Model.DueDate)</p>
</div>
<div>
    <p> Current Date </p>
    <p> @DateOnly.FromDateTime(DateTime.Now)</p>
</div>
<div>
    @if (Model.DueDate < DateOnly.FromDateTime(DateTime.Now))
    {
        <p> Book is Overdue, requires payment before proceeding.</p>
        <h2> Payment Details </h2>
    }
</div>
<form asp-action="ReturnBook" method="post">
    <input type="hidden" asp-for="MemberID">
    <input type="hidden" asp-for="BookID">
    <input type="hidden" asp-for="ReturnedDate"/>
    <button type="submit"> Return Book </button>
</form>
