@model IEnumerable<LibrarySystem.Models.UserModel>

@{
    ViewData["Title"] = "View All Users";
}

<h1> View All Users </h1>
<form asp-action="ViewAllUsers">
    Find by User: @Html.TextBox("SearchResult", ViewBag.CurrentFilter as string)
        <input type="submit" value="Filter" />
</form>


<table class="table">
    <tr>

        <th> @Html.ActionLink("First Name", "ViewAllUsers", new { sortOrder = ViewBag.FNameSort, currentFilter = ViewBag.CurrentFilter}) </th>
        <th> @Html.ActionLink("Last Name", "ViewAllUsers", new { sortOrder = ViewBag.LNameSort, currentFilter = ViewBag.CurrentFilter}) </th>
        <th> @Html.ActionLink("Email", "ViewAllUsers", new { sortOrder = ViewBag.Email, currentFilter = ViewBag.CurrentFilter})  </th>
    </tr>

    @foreach(UserModel user in Model)
    {
        <tr> 
            <td>@user.FirstName </td>
            <td>@user.LastName </td>
            <td>@user.Email </td>
            <td> <a asp-action="ViewUser" asp-route-id="@user.Id">View User</a> </td>
        </tr>
    }
    
</table>