@model LibrarySystem.Context.ApplicationUser

@{
    ViewData["Title"] = "User Profile";
}

<div>
    <h1> User Profile </h1>
    <div>
    @Html.DisplayNameFor(Model => Model.FirstName) <br />
    @Html.DisplayFor(Model => Model.FirstName)
    </div>
    <div>
        @Html.DisplayNameFor(Model => Model.LastName) <br />
        @Html.DisplayFor(Model => Model.LastName)
    </div>
    <div>
        @Html.DisplayNameFor(Model => Model.Email) <br />
        @Html.DisplayFor(Model => Model.Email)
        <a asp-action="ChangeEmail"> Change Email </a>
    </div>
    <div>
        <a asp-action="CheckEmail"> Change Password </a>
    </div>
</div>
<div>
    <h1> User Address </h1>
    <div>
        Address details placeholder <br />
        Address details placeholder <br />
        Address details placeholder <br />
        Address details placeholder <br />
        <a> Update Address </a>
    </div>
</div>
